@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #fdfbf7;
  --foreground: #5c5645;
  --card: #f5f3ed;
  --card-foreground: #5c5645;
  --popover: #fdfbf7;
  --popover-foreground: #5c5645;
  --primary: #969c87;
  --primary-foreground: #fdfbf7;
  --secondary: #c7cd88;
  --secondary-foreground: #5c5645;
  --muted: #f0ede4;
  --muted-foreground: #92886d;
  --accent: #eedf86;
  --accent-foreground: #5c5645;
  --destructive: #92886d;
  --destructive-foreground: #fdfbf7;
  --border: #c7cd88;
  --input: #e7a552;
  --ring: #969c87;
  --chart-1: #969c87;
  --chart-2: #c7cd88;
  --chart-3: #eedf86;
  --chart-4: #e7a552;
  --chart-5: #92886d;
  --sidebar: #f5f3ed;
  --sidebar-foreground: #5c5645;
  --sidebar-primary: #969c87;
  --sidebar-primary-foreground: #fdfbf7;
  --sidebar-accent: #c7cd88;
  --sidebar-accent-foreground: #5c5645;
  --sidebar-border: #e2e0d8;
  --sidebar-ring: #969c87;
  --font-sans: Instrument Sans, Inter, sans-serif;
  --font-serif: Source Serif Pro, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #92886D;
  --shadow-2xs: 0px 4px 10px 0px hsl(43.7838 14.5098% 50% / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(43.7838 14.5098% 50% / 0.05);
  --shadow-sm: 0px 4px 10px 0px hsl(43.7838 14.5098% 50% / 0.10), 0px 1px 2px -1px hsl(43.7838 14.5098% 50% / 0.10);
  --shadow: 0px 4px 10px 0px hsl(43.7838 14.5098% 50% / 0.10), 0px 1px 2px -1px hsl(43.7838 14.5098% 50% / 0.10);
  --shadow-md: 0px 4px 10px 0px hsl(43.7838 14.5098% 50% / 0.10), 0px 2px 4px -1px hsl(43.7838 14.5098% 50% / 0.10);
  --shadow-lg: 0px 4px 10px 0px hsl(43.7838 14.5098% 50% / 0.10), 0px 4px 6px -1px hsl(43.7838 14.5098% 50% / 0.10);
  --shadow-xl: 0px 4px 10px 0px hsl(43.7838 14.5098% 50% / 0.10), 0px 8px 10px -1px hsl(43.7838 14.5098% 50% / 0.10);
  --shadow-2xl: 0px 4px 10px 0px hsl(43.7838 14.5098% 50% / 0.25);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: #2d2f28;
  --foreground: #eedf86;
  --card: #373a31;
  --card-foreground: #eedf86;
  --popover: #2d2f28;
  --popover-foreground: #eedf86;
  --primary: #c7cd88;
  --primary-foreground: #2d2f28;
  --secondary: #969c87;
  --secondary-foreground: #fdfbf7;
  --muted: #3f4238;
  --muted-foreground: #92886d;
  --accent: #e7a552;
  --accent-foreground: #2d2f28;
  --destructive: #92886d;
  --destructive-foreground: #eedf86;
  --border: #4c5141;
  --input: #3f4238;
  --ring: #c7cd88;
  --chart-1: #c7cd88;
  --chart-2: #969c87;
  --chart-3: #e7a552;
  --chart-4: #eedf86;
  --chart-5: #92886d;
  --sidebar: #242620;
  --sidebar-foreground: #c7cd88;
  --sidebar-primary: #c7cd88;
  --sidebar-primary-foreground: #2d2f28;
  --sidebar-accent: #969c87;
  --sidebar-accent-foreground: #fdfbf7;
  --sidebar-border: #3f4238;
  --sidebar-ring: #c7cd88;
  --font-sans: Instrument Sans, Inter, sans-serif;
  --font-serif: Source Serif Pro, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 6px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: #000000;
  --shadow-2xs: 0px 6px 12px 0px hsl(0 0% 0% / 0.20);
  --shadow-xs: 0px 6px 12px 0px hsl(0 0% 0% / 0.20);
  --shadow-sm: 0px 6px 12px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow: 0px 6px 12px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow-md: 0px 6px 12px 0px hsl(0 0% 0% / 0.40), 0px 2px 4px -1px hsl(0 0% 0% / 0.40);
  --shadow-lg: 0px 6px 12px 0px hsl(0 0% 0% / 0.40), 0px 4px 6px -1px hsl(0 0% 0% / 0.40);
  --shadow-xl: 0px 6px 12px 0px hsl(0 0% 0% / 0.40), 0px 8px 10px -1px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 0px 6px 12px 0px hsl(0 0% 0% / 1.00);
}

@theme inline {
  --light-blue: #a8d5e2ff;
--orange: #f9a620ff;
--mustard: #ffd449ff;
--forest-green: #548c2fff;
--black-forest: #104911ff;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}